<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>About the author</h1>
        </div>
        <div class="well">
            <img src="<%= gravatar_for('imran.codely@gmail.com',125) %>" class="img-circle center-block">
            
            <h1 class="text-center"><strong>Imran Ismail</strong></h1>

            <div class="author-meta center-block">
                <h4 class="text-muted"><span class="glyphicon glyphicon-map-marker"></span> Malaysia</h4>
                <a href="http://www.imranismail.me"><h4 class="text-muted"><span class="glyphicon glyphicon-link"></span> http://www.imranismail.me</h4></a>
                <a href="mailto:imran.codely@gmail.com"><h4 class="text-muted"><span class="glyphicon glyphicon-envelope"></span> Gmail</h4></a>
            </div>
        </div>
    </div>
</section>