
    <div class="page-header">
        <h1>Contacts</h1>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=Universiti%20Kuala%20Lumpur%20Jalan%20Sultan%20Ismail%20Kuala%20Lumpur%20Federal%20Territory%20of%20Kuala%20Lumpur%20Malaysia&key=AIzaSyDhlBCdL9ueYzigFK9sGs0aspYl9kN-iCs"></iframe>
    </div>

    <address>
        <br />
        <strong>Imran Ismail</strong><br>
        Universiti Kuala Lumpur<br>
        1016, Jalan Sultan Ismail<br>
        50250 Kuala Lumpur<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
        <strong>Email: </strong><a href="mailto:imran.codely@gmail.com">imran.codely@gmail.com</a><br />
    </address> 