<div class="jumbotron">
  <h1>What Time Is It?</h1>
  <p>A simple app to show time based on the timezone set by the user</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>